[submodule "home/.zprezto"]
  path = home/.zprezto
  url = sso://user/ziegs/prezto
  branch = master
[submodule "home/.tmux/plugins/tpm"]
	path = home/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
